version: '3'

services:
  api-server:
    image: morefun-supernova-api:3.0
    command: ["/app/api"]
    depends_on:
      - manager
    ports:
      - "8080:8080"
  manager:
    image: morefun-supernova-manager:3.0
    command: ["/usr/wait-for-it.sh", "postgres:5432", "--", "/usr/wait-for-it.sh", "redis:6379", "--", "/usr/wait-for-it.sh", "worker:50051", "--", "/app/manager", "start"]
    depends_on:
      - redis
      - postgres
      - worker
    environment:
      REDIS_ADDR: "redis:6379"
      REDIS_PASSWORD: ""
      REDIS_DB: 0
      WORKER_SERVICE: "worker"
      MANAGER_SERVICE: "manager"
      POSTGRES: "postgres"
      POSTGRES_URL: "host=postgres port=5432 user=postgres dbname=postgres sslmode=disable"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    ports:
      - "9090:9090"


  worker:
    image: morefun-supernova-worker:3.0
    command: ["/app/executor", "start"]
    environment:
      MANAGER_SERVICE: "manager"
      POSTGRES: "postgres"
      POSTGRES_URL: "host=postgres port=5432 user=postgres dbname=postgres sslmode=disable"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"

  redis:
    image: redis:latest
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./pkg/data-structure/redis.conf:/usr/local/etc/redis/redis.conf

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "postgres"
    volumes:
      - ./pkg/database/postgreSQL/init.sql:/docker-entrypoint-initdb.d/init.sql
      - pgdata:/var/lib/postgresql/data

volumes:
    pgdata: