apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: supernova
spec:
  selector:
    app: prometheus-server
  ports:
    - protocol: TCP
      port: 7070
      targetPort: 9090
