apiVersion: v1
kind: Service
metadata:
  name: worker
  namespace: supernova
spec:
  selector:
    app: worker
  ports:
    - protocol: TCP
      port: 50051
      targetPort: 50051
  type: ClusterIP
  