apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: supernova
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:latest
          args:
            - -c
            - max_connections=3000
          env:
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "970409"
            - name: POSTGRES_DB
              value: "postgres"
          volumeMounts:
            - name: postgres-init
              mountPath: /docker-entrypoint-initdb.d/init.sql
              subPath: init.sql
            - name: postgres-pv-docker-volume
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-init
          configMap:
            name: postgres-init-script
        - name: postgres-pv-docker-volume
          persistentVolumeClaim:
            claimName: postgres-pvc-docker-volume